[Unit]
Description=crypted service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/zahrah/cryptoProject/check_crypt.sh

[Install]
WantedBy=multi-user.target

